<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Quandl Tracker</title>
		<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_ticker.css')}}'>
	</head>
	<div class=page>
  			<h1>Quandl Stock Tracker</h1>
  			<div class=metanav>

    			<h2>Enter a stock ticker (eg. GOOG), and check desired features.</h2>

    			<form id='input' method='post' action='index'>	
	  			<p>
					Ticker symbol: <input type='text' name='ticker' />
	  			</p>
	  			<p>
					Start year: <input type='text' name='year' />
					<br><i>*defaults to first year of Quandl record</i>
	  			</p>
	  			<p>
	  				<input type="checkbox" name='feat1' value='Open'>Opening price<br>
					<input type="checkbox" name='feat2' value='Close'>Closing price<br>
					<input type="checkbox" name='feat3' value='Range'>Range (High/Low)<br>
	  			</p>
	  			<p>
	    			<input type="submit" value="Submit">
	  			</p>  		
				</form>

  			</div>
  			<div align="left">
  			<p><i>See <a href="https://www.quandl.com/data/WIKI">www.quandl.com/data/WIKI</a></i> for database description</p>
  			</div>
		</div>
	</body>
</html>
